# Archivos y carpetas del entorno virtual
########################################
venv/
env/
.venv/
.env

# Archivos de caché e ignorables de Python
###########################################
__pycache__/
*.pyc
*.pyd
*.so
*~
# Logs y bases de datos generadas
*.log
*.sqlite3
db.sqlite3

# Archivos y directorios generados por Python (ej. distribución)
dist/
build/
*.egg-info/

# Archivos del IDE: Visual Studio Code
######################################
# Directorio de configuración de VS Code para el workspace
.vscode/

# Archivos temporales de swap y otros
.tmp/